.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
}

.listItem {
  margin: 0;
}

.listItem::marker {
  color: #e95800;
}

.listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #663399;
}

.listItemLink {
  color: var(--color-primary);
  font-weight: bold;
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.textCenter {
  text-align: center;
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}

.principal h1{
  color: var(--color-text);
  font-weight: 800;
}
.principal h2{
 font-size: 28px;
  margin-top: 0;
  width: 700px;
  font-weight: 500;
  color: var(--color-text);
}
.principal p{
  color: var(--color-text);
  width: 532px;
  font-weight:300;
}
.icon-Whats{
  width: 50px;
  height: 50px;
}
.buttonPrincipal{
  padding: 18px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color:#21c25c;
  color: #d9dadb;
}
.buttonPrincipal:hover{
  background-color: #1a9c4f;
  transition: background .3s ease;
}
.parceiro h2 {
  text-align: center;
  color: #e3002f;
  font-size: 36px;
  margin-top: 90px;
  margin-bottom: 50px;
}
.sliderWrapper {
  margin: 0 -20px;
}
.slideItem {
  padding: 0 20px;
}
.slideItem img {
  width: 100%;
  height: auto;
}

@media (min-width: 786px) {
  .principal h1 {
    font-size: 36px;
  }

  .principal p {
    font-size: 24px;
  }

  .principal button {
    padding: 21px;
    font-size: 20px;
    border-radius: 15px;
  }

  .principal img {
    height: 168px;
  }
}
@media (min-width: 787px) {
  .parceiro h2 {
    font-size: 36px;
    /* margin-top: 50px;
    margin-bottom: 20px; */
  }
}

@media only screen and (max-width: 786px) {
  .principal h1{
    margin-top: 1em;
    font-size: 29px;
  }
  .principal h2{
    font-size: 23px;
    width: 572px;
  }
  .principal p{
    width: auto;
    font-size: 19px;
  }

  .principal img{
    margin: 0 auto;
    height: 140px;
  }
  .principal button{
    margin: 0 auto;
    font-size: 17px;
    padding: 17px;
  }
  .parceiro h2 {
    font-size: 29px;
    margin-bottom: 35px;
  }
}

@media only screen and (max-width: 632px) {
  .principal h1{
    font-size: 26px;
    text-align: center;
  }
  .principal h2{
    text-align: center;
    font-size: 21px;
    width: auto;
  }
  .principal p{
    text-align: center;
    font-weight: 400;
  }

  .principal img{
    display: block;
  }
  .principal button{
    display: block;
  }
}

@media only screen and (max-width: 496px) {
  .principal h1{
    font-size: 23px;
  }
  .principal h2{
    font-size: 19px;
  }
  .principal p{
    font-size: 16px;
  }
  .principal button{
    font-size: 15px;
    padding: 15px;
  }
  .principal button a{
    font-weight: 700;
  }
  .parceiro h2 {
    font-size: 26px;
    margin-top: 112px;
    margin-bottom: 25px;
  }
  .background-2{
    height: 365px;
  }
}
@media only screen and (max-width: 383px) {
  .principal h1{
    font-size: 23px;
  }
  .principal h2{
    font-size: 17px;
  }
  .principal p{
    font-size: 14px;
  }
  .principal button{
    font-size: 15px;
    padding: 13px;
  }
  .parceiro h2 {
    font-size: 28px;
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 338px) {
  .principal h1{
    font-size: 20px;
  }
  .principal h2{
    font-size: 15px;
  }
  .principal p{
    font-size: 13px;
  }
  .principal button{
    font-size: 13px;
    padding: 11px;
  }
  .parceiro h2 {
    font-size: 24px;
    margin-top: 125px;
    margin-bottom: 15px;
  }
}
